@charset "UTF-8";

.cal{
	background-color:;
	float: left;
	width: 60%;
	padding-right: 30px;
}

.content {
	height: 600px;
	background-color: #f6f4f8;
	color: #f6f4f8;
	float: left;
	width: 30%;
}

h2 {
	color: black;
	text-align: center;
}