@charset "UTF-8";

.container000 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container000>.content000 {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container000>.content000>area1 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

.container000>.content000>main {
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}

.container000>.content000>area2 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

#myPage {
	margin: 0 auto;
	padding: 20px;
}

#myPage a {
	color: black;
	text-decoration: none;
}

#userInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#myInfoLink {
	text-decoration: underline;
	cursor: pointer;
}

#userInfoText {
	flex: 1;
	text-align: right;
}

#logout {
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}


.my-passes {
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius:15px;
  padding: 20px;
}


.my-passes {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 50px auto;

}


.inquiry {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.inquiry-header {
	text-align: center;
	margin-bottom: 20px;
}

.inquiry-button {
	width: 90%;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 20px 200px;
	font-size: 16px;
	background-color: #8A2BE2;
	color: white;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.inquiry-button:hover {
	background-color: #800080;
}

.inquiry-history {
	padding: 10px;
}

.inquiry-history h2, .inquiry-history hr {
	margin: 0;
	margin-bottom: 10px;
}


.inquiry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%; 
}

.inquiry-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inquiry-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.inquiry-date {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.inquiry-location {
    font-size: 14px;
    color: #888;
}

.inquiry-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px; /* 검토중 버튼과 상봉점 사이의 간격을 조절 */
}


.inquiry-reply-container {
	display: none;
}

.inquiry-reply-container.active {
	display: block;
}
