@charset "UTF-8";

.container000 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container000>.content000 {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container000>.content000>area1 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

.container000>.content000>main {
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}

.container000>.content000>area2 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

#myPage {
	margin: 0 auto;
	padding: 20px;
}
#myPage a {
    color: black; 
    text-decoration: none;
}


#userInfo {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

#myInfoLink {
	text-decoration: underline;
	cursor: pointer;
}

#userInfoText {
	flex: 1; 
	text-align: right; 
}

#logout {
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}
/* my-styles.css */

.my-passes {
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius:15px;
  padding: 20px;
}


.my-passes {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 50px auto;
  
  
}

.pass-box {
    display: flex;
    justify-content: space-between;
}

.individual-pass, .group-pass {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    width: 48%;
    margin: 5px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}




.icon-list {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.icon-grid {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.icon-row {
    display: flex;
    justify-content: space-between; 
}

.icon-item {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
     width: 120px; 
    height: 120px; 
    margin: 50px;
    cursor: pointer;
}

.icon-item:hover {
    background-color: #e8e8e8;
}