@charset "UTF-8";

.container000 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container000>.content000 {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container000>.content000>area1 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

.container000>.content000>main {
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}

.container000>.content000>area2 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

.total-faq-count {
  font-size: 14px;
  color: #888;
  text-align: left;
  padding-left: 10px; /* 왼쪽 패딩을 추가합니다. */
}

#myPage {
	margin: 0 auto;
	padding: 20px;
}
#myPage a {
    color: black; 
    text-decoration: none;
}


#userInfo {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

#myInfoLink {
	text-decoration: underline;
	cursor: pointer;
}

#userInfoText {
	flex: 1; 
	text-align: right; 
}

#logout {
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}
/* my-styles.css */

.my-passes {
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius:15px;
  padding: 20px;
}


.my-passes {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 50px auto;

}

.section000{
  display: flex;
  justify-content: center;
  margin-top: 60px; 
}


.btn-group {
  display: flex;
  justify-content: center;
}


.btn-check + .btn-outline-primary {
  font-size: 20px; 
  padding: 1rem 2rem;
  width: 200px; 
  margin: 0.25rem; 
}

.btn.btn-outline-success {
  white-space: nowrap; 
  width: auto; 
  padding: 0.5rem 1rem; 
}

.section002 {
  margin-top:50px;
  margin-top:50px;
}