@charset "UTF-8";


.container000 {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container000>.content000 {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container000>.content000>area1 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

.container000>.content000>main {
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
}

.container000>.content000>area2 {
	background-color: #e8f2fe;
	flex-basis: 300px;
	flex-shrink: 0;
}

#myPage {
	margin: 0 auto;
	padding: 20px;
}

#myPage a {
    color: black; 
    text-decoration: none;
}


#userInfo {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

#myInfoLink {
	text-decoration: underline;
	cursor: pointer;
}

#userInfoText {
	flex: 1; 
	text-align: right; 
}

#logout {
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}



.my-passes {
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius:15px;
  padding: 20px;
}


.my-passes {
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 50px auto;

}


.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #666;
}



.line {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.password-change-container{
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 70px;
  padding: 20px;
  background-color: white;
}




input[type="password"] {
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
}


.password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-input input {
    width: 80%;
}

.password-input button {
    width: auto;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:5px;
    margin-right:10px;
}




.change-password-button{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 50vh;
}

.change-password-button button {
  font-size: 15px;
  background-color: #8a2be2; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px; 
  width: 90%; 
}

.change-password-button button:hover {
  background-color: #800080; 
}