<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="css/myPagestyle.css">

<title>마이페이지</title>

</head>
<body>
    <div id="myPage">
        <h1>마이페이지</h1>
        <div id="userInfo">
            <div id="myInfoLink">내 정보 관리</div>
            <div id="userInfoText">*** 회원님</div>
            <div id="logout">로그아웃</div>
        </div>
        <div id="content">
          <br> <br>
    <!-- 첫 번째 큰 div (수강권 정보) -->
			<div id="container">
				<div id="membershipInfo">

<div class="container">
                    <div class="wrap"> <table cellspacing="0" cellpadding="0" border="0" width="659">
    <tbody>
        <tr>
            <td colspan="2" class="r_name no_line">Round corner table</td>
        </tr>
        <tr>
            <td colspan="2">iPad</td>
        </tr>
        <tr>
            <td colspan="2" class="r_name">Input File Formats Supported</td>
        </tr>
        <tr>
            <td colspan="2">
            <p>DVD-Video, DVD folder, DVD IFO File</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="r_name">Output File Formats Supported</td>
        </tr>
        <tr>
            <td class="c_left">Videos</td>
            <td width="520">MP4, MPEG-4, H.264, HD H.264</td>
        </tr>
        <tr>
            <td class="c_left">Audios</td>
            <td width="520">MP3, M4A, AAC</td>
        </tr>
        <tr>
            <td class="c_left">Images</td>
            <td width="520">BMP, GIF, JPEG, PNG</td>
        </tr>
    </tbody>
</table> </div>
                </div>
					<!-- 공통 정보 왼쪽에 배치 -->
					<div id="commonInfo">
						<p>수업내용 :
						<p>
						<p>기간 :</p>
						<p>이용권내역:</p>
						<p>잔여일수:</p>
						<p>잔여횟수:</p>
						<p>이용가능한 지점:</p>
					</div>
					<!-- 개인 수강권 정보 -->
					<div id="individualMembership">
						<p>[지점이름] 수업내용
						<p>
						<p>2023.10.17 ~ 2023.12.08</p>
						<p>이용중</p>
						<p>126일 남음 / 총 150일</p>
						<p>34회 남음 / 총 60회</p>
						<p>1 지점</p>
					</div>
					<!-- 그룹 수강권 정보 -->
					<div id="groupMembership">
						<p>[지점이름] 수업내용
						<p>
						<p>2023.10.17 ~ 2023.12.08</p>
						<p>이용중</p>
						<p>126일 남음 / 총 150일</p>
						<p>34회 남음 / 총 60회</p>
						<p>1 지점</p>
					</div>
				</div>
			</div>

			<br> <br>
            <div id="iconArea">
    <!-- 아이콘과 텍스트를 가운데에 정렬하기 위해 각각의 div 요소 사용 -->
    <div class="iconItem">
        <div class="icon">아이콘 1</div>
        <div class="text">결제내역</div>
    </div>
    <div class="iconItem">
        <div class="icon">아이콘 2</div>
        <div class="text">연동센터관리</div>
    </div>
    <div class="iconItem">
        <div class="icon">아이콘 3</div>
        <div class="text">공지사항</div>
    </div>
    <div class="iconItem">
        <div class="icon">아이콘 4</div>
        <div class="text">문의사항</div>
    </div>
    <div class="iconItem">
        <div class="icon">아이콘 5</div>
        <div class="text">약관 및 정책</div>
    </div>
</div>
        </div>
    </div>
</body>
</html>